.header{
	overflow: hidden;
	background-color: #ff4683;
	height: 44px;
	width: 100%;
}
.container{
	width: 100%;
	padding: 0;
	min-width: 320px;
}
.city-name{
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 15px;
	color: white;
}
.account{
	float: right;
	padding-top: 10px;
	padding-right: 5px;
	font-size: 15px;
	color: white;
}
.content-class{
	padding-bottom: 10px;
	padding-top: 10px;
	
}
img{
	width: 120px;
	height: 72px;
}	
.hotel-name{
	font-size: 20px;
}

.content-class{
	overflow: hidden;
	border-bottom: 1px solid #DDD8CE;
}
.img-wrapper{
	float: left;
	position: relative;
	width:37.5%;
}	
.info-wrapper{
	float: left;
	position: relative;

	overflow: hidden;
	width: 62.5%;
} 
.item-name{
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	color: #22222d;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}
.address{
	font-size: 10px;
	color: #aaaaaa;
}
.desc{
	color: #aaaaaa;
}
.address{
	float: left;
}
.distance{
	float: right;
	color: #aaaaaa;
	font-size: 10px;
}
.form{
	overflow: hidden;
	width: 100%;
}
.input-group{
	z-index: 1;
	width: 100%;
	float: left;
	padding-top: 10px;
	min-width: 350px;
}
.cancel{
	float: right;
	padding-top: 13px;
	display: none;
}
.cancel-button{
	color: #ff4683;
}
.suggestion{
	z-index: 9999;
	display: none;
	width: 100%;
}


/*.container .content-class .info-wrapper .title-line{
	overflow: hidden;
}
.container .content-class .info-wrapper .title-line .title{
	float: left;
	position: relative;
}*/